.content__container {
    position: relative;

    &-pc-image {
        position: relative;
        max-width: 80vh;
        height: 55vh;
        z-index: 2;
        object-fit: cover;
    }

    &-gif {
        position: absolute;
        top: 10%;
        left: 17%;
        width: 64%;
        height: 50%;
        z-index: 1;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.content__text {
    margin: auto 0;
    padding-left: 6px;
    p {
        padding-top: 16px;
    }
}