@use 'variaveis';

.hero-wrapper {
    position: relative;
    background-image: linear-gradient(
        to top, 
        rgba(0, 0, 1, 0.8) 0%, 
        rgba(0, 0, 0, 0) 60%, 
        rgba(0, 0, 0, 0.959) 100%
    ), 
    url('/src/images/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
    display: flex;
    flex-direction: column;
}
.hero {
    padding: 0 8.50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;

    &__content {
        margin-top: 170px;
    }

    &__input {
        display: flex;
        align-items: center;
        justify-content: center;    
    }
}

@media (max-width: 1024px) {
    .hero {
        padding: 0 5vw;

        
    }
    .hero-wrapper {
        height: 50vh;
    }
}

@media (max-width: 768px) {
    .hero-wrapper {
        height: 60vh;
    }

    .hero {
        padding: 0 3vw;

        &__content {
            margin-top: 5vh;
        }
    }
}

@media (max-width: 750px) {
    .hero-wrapper {
        height: 60vh;
    }

    .hero {
        padding: 0 2vw;
        display: block;
        justify-content: center;

        &__content {


            .title {
                font-size: 26px;
            }

            p {
                font-size: 18px;
            }

            h3 {
                font-size: 16px;
            }
        }

        &__input {
            flex-direction: column;
        }
    }
}

@media (max-width: 375px) and (max-height: 667px) {
    .hero-wrapper {
        height: 100vh;
    }
}
