@use 'variaveis';

.hero-wrapper {
    position: relative;
    background-image: linear-gradient(
        to top, 
        rgba(0, 0, 1, 0.8) 0%, 
        rgba(0, 0, 0, 0) 60%, 
        rgba(0, 0, 0, 0.959) 100%
    ), 
    url('/src/images/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
    display: flex;
    flex-direction: column;
}
.hero {
    padding: 0 8.50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;

    &__content {
        margin-top: 170px;
    }

    &__input {
        display: flex;
        align-items: center;
        justify-content: center;    
    }
}


@media (min-width: 1010px) and (max-width: 769px) {
    .hero {
        padding: 0 5vw;

        
    }
    .hero-wrapper {
        height: 40vh;
    }
}


@media (max-width: 768px ) {
    .hero-wrapper {
        height: 70vh;
    }

    .hero {
        padding: 0 2vw;

        &__content {
            margin-top: 5vh;

            .title {
                font-size: 35px;
            }

            p {
                font-size: 22px;
            }

            h3 {
                font-size: 24px;
            }
        }

        &__input {
            flex-direction: column;
        }
    }
}

@media (max-width: 490px) {
    .hero-wrapper {
        height: 75vh;
    }
}

@media (max-width: 434px) {
    .hero-wrapper {
        height: 80vh;
    }
}

@media (max-width: 375px) {
    .hero-wrapper {
        height: 120vh;
    }
}

